[package]
name = "template-parse"
version = "0.1.0"
author.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
thiserror.workspace = true
# once_cell.workspace = true
regex.workspace = true
